<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>House Details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col"><h5 th:text="${house.houseName}"></h5></div>
            <div class="col"><h5 th:text="${house.houseNumber}"></h5></div>
            <div class="col"><h5 th:text="${house.roadNumber}"></h5></div>
        </div>
        <div class="row">
            <div class="col"><a th:href="${house.location}">House Location</a></div>
        </div>
        <div class="row">
            <div class="col"><h6 th:text="${house.description}"></h6></div>
        </div>
    </div>
</body>
</html>
