<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>House Details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col"><h5 th:text="${house.houseName}"></h5></div>
        <div class="col"><h5 th:text="${house.houseNumber}"></h5></div>
        <div class="col"><h5 th:text="${house.roadNumber}"></h5></div>
    </div>
    <div class="row">
        <div class="col"><a th:href="${house.location}">House Location</a></div>
    </div>
    <div class="row">
        <div class="col"><h6 th:text="${house.description}"></h6></div>
    </div>
</div>

<div class="flex justify-content-column align-items-center">
    <form th:action="@{/add-review}">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" placeholder="Email" required>
        <label for="userName">User Name</label>
        <input type="text" id="userName" name="userName" placeholder="Username" required>
        <label for="comment">Comment</label>
        <textarea id="comment" name="comment" placeholder="Comment" required></textarea>
        <button type="button" class="btn btn-primary click" onclick="submitReview()">Submit</button>
    </form>

</div>

<div>
    <form th:action="@{/get-reviews}">
        <button type="button" class="btn btn-secondary click" onclick="getReviews()">All Comments</button>
        <ul id="reviewList">

        </ul>
    </form>
</div>

<script th:inline="javascript">
    function submitReview() {
var email = document.getElementById('email').value;
var comment = document.getElementById('comment').value;
var userName = document.getElementById('userName').value;

addReview(email, comment, userName);
}

function addReview(email, comment, userName) {
var xhtr = new XMLHttpRequest();
xhtr.open('POST', '/add-review', true);

var formData = new FormData();
formData.append('email', email);
formData.append('comment', comment);
formData.append('userName', userName);

xhtr.onload = function () {
    if (xhtr.status === 200) {
        alert("Review successfully added.");
    } else {
        alert("Failed to add review. Status: " + xhtr.status);
    }
};

xhtr.onerror = function () {
    alert("An error occurred during the transaction.");
};

xhtr.send(formData);
}

function getReviews() {
var xhtr = new XMLHttpRequest();
xhtr.open('POST', '/get-reviews', true);
xhtr.onload = function () {
    if (xhtr.status === 200) {
        var reviews = JSON.parse(xhtr.responseText);
        var reviewList = document.getElementById('reviewList');
        reviewList.innerText = '';
        for(var i in reviews){
            var review = document.createElement('li');
            var name = document.createElement('p');
            name.innerText = reviews[i].userName;
            review.appendChild(name);
            reviewList.appendChild(review);
            var comment = document.createElement('p');
            comment.innerText = reviews[i].comment;
            review.appendChild(comment);
            reviewList.appendChild(review);
        }
        var reviewList = document.getElementById('reviewList');
        if(reviewList.style.display === 'block'){
            reviewList.style.display = 'none';
        }else{
            reviewList.style.display = 'block';
         }
    } else {
        alert("An error occurred during the transaction.");
    }
};
xhtr.send();
}
</script>
</body>
</html>
